.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-content {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.footer-address-container {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    flex-basis: 50%;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
    flex-basis: auto;
  }
}

.footer-social-media-content {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    flex-basis: 50%;
    padding-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    padding-top: 15px;
    flex-basis: auto;
  }
}

.footer-social-media-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  &.address {
    color: #ffffff;
    margin-bottom: 9px;
  }

  &:hover,
  &:focus {
    color: #ffffff;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
