.social-media-content {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}

.social-media-list {
  display: flex;
  justify-content: space-between;
}

.social-media-item:not(:last-child) {
  margin-right: 10px;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: var(--accent-color);
  }
}

.footer-social-media-image {
  fill: #ffffff;
}

.footer-social-media-link {
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: var(--accent-color);
  }
}
