:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --description-text-color: #757575;
  --headings-color: #212121;
  --team-background-color: #f5f4fa;
  --card-set-gap: 30px;
}
